.bg{
    display:flex ;
    
}

.tx{
    width:40% ;
    text-align: center;
}

.tx1{
    float:right;
    width:40% ;
}

@media(max-width:450px){
    .tx1{ 
        display:none;
        }
    .tx{
        margin: auto;
    }
}