/* 
Author : DevThut
Theme : Food ordering web site
version : 1.0
*/

/*CSS for homepage*/
	/*background image*/
body{
	background-color: #344A6B;
}
.container{
    width: 80%;
    margin: 10px auto;
	padding: 0%;
	border-radius: 25px;
	width: 95%;

}

li {
	float: left;
}

.navigation-bar {
	overflow: hidden;
    width: 100%;  /* i'm assuming full width */
	height: 64px; /* change it to desired width */
	background-color: #8998af;
	border-radius: 25px;

}
    
.logo {
    display: inline-block;
    vertical-align: top;
    width: 84px;
    height: 64px;
    margin-right: 1%;/*need to change this*/
	margin-top: 0;
	/*border:1px solid #8998af;*/
	border-radius: 25px;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 64px;        /* if you want it to take the full height of the bar */
	line-height: 64px;    /* if you want it vertically middle of the navbar */
	background-color: #8998af;	
	border-radius: 25px;
}

.navigation-bar .search-container {
	display: inline-block;
	margin-top: 20px;
	margin-right: 1%;
	background-color: #8998af;
	
	
  }
  
  .navigation-bar input[type=text] {
	
	font-size: 17px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: #8998af;

	
  }
  
  .navigation-bar .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: -12px;
	background:  #8998af;
	font-size: 25px;
	border: none;
	cursor: pointer;}
	

  .dd{
	  background-color: #8998af;
  }
  
  .user-logo{
	width: 46px;
    height: 46px;
    border-radius: 100%;
	overflow: hidden;
	
	margin-top: 10px; 
  }

  .cart-logo{
	
	width: 46px;
    height: 46px;
    border-radius: 100%;
	overflow: hidden;
	margin-top: 10px;  
  }

  .tg{
	  color:black;
	  text-shadow: transparent;
	  font-weight: bold;
	  text-decoration: none;
  }
  .tg:hover{
	  color: rgb(65, 64, 64);
  }

 .tg_2{
	color:#7e7e7e(236, 177, 177);
	text-shadow: transparent;
	font-weight: bold;
	text-decoration: none;	  
  }

  /* Hide the link that should open and close the topnav on small screens */
.navigation-bar .icon {
	display: none;
  }
  
  
  @media screen and (max-width: 1135px) {
	.navigation-bar a:not(:first-child) {display: none;}
	.navigation-bar a.icon {
	  float: right;
	  display: block;
	}
  }


@media screen and (max-width: 1135px) {
	.navigation-bar.responsive {
		position: relative;
		height:500px;
		margin:0;
	}
	.navigation-bar.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	  
	}
  
	.navigation-bar.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.navigation-bar.responsive a img {
		float: none;
		display: block;
		text-align: left;
	  }
	
  }

  @media screen and (max-width: 455px) {
	.navigation-bar div:not(:first-child) {display: none;}
  }



/*CSS for nav bar ends here*/


/*CSS for session 1*/
.session1{
	background-image: url("../images/session1.jpeg");
	height: 230px;	
	background-repeat: no-repeat;
	background-size: cover;
  }

  .session1_1{
	display: inline-block;
	background: none;
	width : 60%;
	height:100%;
	border:1px solid black;
  }
  .session1_2{
	display: inline-block;
	background: none;
	width : 20%;
	height:80%;
	margin:2% 2%;
	/*border:1px solid black;*/
	float : right;
	border-radius: 25px;
  }

  .session1_2 a{
	  background:none;
  }

  .session1_2 a img  {
	background: none; margin:0; width:100%; height: 100%;
  }
/*CSS for session 1 ends here*/

/*CSS for session 2 starts here*/
.session2{
	background-color: black;
	height:80px;
	color: blanchedalmond;
}
.session2_1{
	display: inline-block;
	background: none;
	width : 65%;
	height:100%;

}
.session2_1 p{
	background: none;
	font-size :35px;
}

.session2_2 {

	display: inline-block;
	background: none;
	width : 20%;
	height:80%;
	margin:0.5% 1%;

	float : right;
	
	
}
.session2_2 a{
	background: none;
}
.session2_2 a img{
	background: none;
	width:40%;
	margin :1% 1%;
	height :80%;

}

/*CSS for session 2 ends here*/

/*CSS for session 3 starts here*/
.session3{
	
	height :300px;
	
	overflow:hidden;
	vertical-align: top;
	align-items: center;
}
.session3_0{
	display: inline-block;
	background: none;
	width : 32%;
	height:100%;
	margin:0% 0.2%;
	
	vertical-align: top;
	border-radius: 25px;
}


@media screen and (max-width: 1135px) {
	.session3_0 {
		display: inline-block;
		background: none;
		width : 30%;
		height:100%;
		margin:0% 0.5%;
		
		vertical-align: top;
		border-radius: 25px;	
	
	}
	.session3{
		height:180px;
	}

	.session2_1 p{
		background: none;
		font-size :20px;
		
	}
	.session2_2 a img{
		background: none;
		width:40%;
		margin :20% 1%;
		height :40%;
		
	}
	.footer{
		background-color: black;
	}

	
	.footer_1{
	
		display: inline-block;
		background: none;
		width : 30%;
		height:100%;
		margin:0% 0.5%;
		/*border:1px solid white;*/
		vertical-align: top;
		border-radius: 25px;	
	
	}
	
	.footer_1 p{

		background: none;
		font-size :12px;
		margin-left:0;
	}
	.footer_1 p b{

		background: none;
			
	}
	.footer_1  a{

		background: none;	
		text-decoration: none;
		font-size :12px;
	
	}
	
	.footer_1 a img{
		height:30px;
		width:10%;
		background: none;
		
	}

	.session1_2 a img  {
		background: none; margin:-100; width:120%; height: 100%;
	  }



	}
  



/*CSS for session 3 ends here*/

/*CSS for footer starts here*/

.footer{
	background-color: black;
	height:220px;
}

.footer_1{

	display: inline-block;
	background: none;
	width : 30%;
	height:100%;
	margin:0% 0.9%;
	/*border:1px solid white;*/
	vertical-align: top;
	border-radius: 25px;
}

.footer_1 p{
	color:white;
	background: none;
}
.footer_1 p b{
	color:white;
	background: none;
		
}
.footer_1  a{
	color:white;
	background: none;	
	text-decoration: none;

}

.footer_1 a img{
	height:30px;
	width:100px;
	background: none;
	
}

/*CSS for footer ends here*/


